name: Update README

on:
  workflow_dispatch:
    inputs:
      location:
        description: Update city for which to look up weather
        type: string
        required: false
      timezone:
        description: Update timezone to figure out time of day
        type: string
        required: false
      special:
        description: Special circumstances
        type: choice
        options:
          - none
          - holiday
          - recurse
        required: false
  schedule:
    - cron: 5 * * * *

permissions:
  contents: write

jobs:
  update:
    name: Update README
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v5.0.1

      - name: Set location, timezone, and special circumstances
        id: metadata
        env:
          location: ${{ inputs.location }}
          timezone: ${{ inputs.timezone }}
          special: ${{ inputs.special }}
        run: |
          mdfile='.github/updater/metadata.yml'

          if [[ -n $location ]]; then
              yq --inplace '.location = env(location)' "$mdfile"
          else
              location=$(yq '.location' "$mdfile")
          fi

          if [[ -n $timezone ]]; then
              yq --inplace '.timezone = env(timezone)' "$mdfile"
          else
              timezone=$(yq '.timezone' "$mdfile")
          fi

          if [[ -n $special ]]; then
              yq --inplace '.special = env(special)' "$mdfile"
          else
              special=$(yq '.special' "$mdfile")
          fi

          printf '%s\n' \
              "location=$location" \
              "timezone=$timezone" \
              "special=$special" \
              >> "$GITHUB_OUTPUT"

      - name: Run updater
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STATUS_TOKEN: ${{ secrets.PAT_TOKEN }}
          TZ: ${{ steps.metadata.outputs.timezone }}
          location: ${{ steps.metadata.outputs.location }}
          special: ${{ steps.metadata.outputs.special }}
        run: ./updater "$location" "$special"
